nav {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    width: 100%; 
    max-width: 1280px; 
    margin: 0 auto; 
    padding: 0 20px;
    height: 70px;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}


nav ul li {
    font-weight: 500;
    cursor: pointer;
}

button {
    padding: 8px 16px;
    height: 32px;
    color: white;
    background-color: brown;
    pointer-events: stroke;
}

.hero{
    display: flex;
    justify-content:space-between ;
     max-width: 1280px; 
    margin: 0 auto;
    align-items: center;
    height: calc(100vh -72px);
}

.hero h1{
    font-weight: 800;
    font-size: 108px;
    line-height: 102px;

}
.hero p{
    font-weight: 600;
    color: #000;

}
.hero-btn{
    display: flex;
   gap: 40px;
  border: #000;
}
.category{
    background-color: transparent;
    color: #000;
    font-size: large;
   
}