
:root {
  font-family: Inter, 
  line-height: 1.5;
  font-weight: 400;
}


html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}


#root {
  max-width: 100%;
  text-align: left;

}
